.header {
    height: 60px;
    background-color: #3aafa9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.header a {
    text-decoration: none;
    font-size: 25px;
    color: #17252a;
}

.header [class="active"] {
    color: #FEFFFF;
}